.container {
  height: 15rem;
  width: 15rem;
  display: flex;
  margin: auto !important;
  font-size: 70px !important;
  transition: transform 0.35s ease-in-out !important;
  -webkit-transition: -webkit-transform 0.35s ease-in-out !important;
}

.containerSmall {
  height: 15rem;
  width: 15rem;
  display: flex;
  border-radius: 50% !important;
  margin: auto !important;
  font-size: 70px !important;
  transition: transform 0.35s ease-in-out !important;
  -webkit-transition: -webkit-transform 0.35s ease-in-out !important;
}
.container:hover {
  transform: scale(1.025);
  -webkit-transform: scale(1.025);
}
