.paper {
  width: 45rem;
  height: 45rem;
  margin: auto;
  border-radius: 50% !important;
  border-color: rgb(22, 48, 43) !important;
  border-width: 3px !important;
  border-style: solid;
  background: linear-gradient(rgb(44, 96, 86), rgb(22, 48, 43));
}

.container {
  text-align: center;
}

.paperSmall {
  width: 100%;
  margin: auto;
}
