.tableStyle {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 0.6fr));
  padding: 1.5rem;
  justify-content: center;
}

.smallTableStyle {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 0.9fr));
  padding: 1.5rem 0;
  justify-content: center;
}

.button {
  border-radius: 10rem !important;
}
