.tableStyle {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 0.3fr));
  padding: 1.5rem;
  justify-content: center;
  color: white;
  gap: 1rem;
  align-items: center;
}

.button {
  padding: 0.15rem 0.5rem;
}
