.podGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 1.5rem;
}

.podGridSmall {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
  margin-left: -1rem;
}

.loading {
  display: flex;
  justify-content: center;
  padding: 10%;
  align-items: center;
}
